/*  > FONTS  */

/*  insert fonts, or use "see <file with fonts>.css" */


/*  > VARIABLES  */

:root {
	
	/*  >> Colors  */
	
	--input-shadow-color: hsla(0, 0%, 4%, 0.1);

	--sidebar-background: hsl(0, 0%, 90%);


	/*  >>> Theme */

	--theme-color-primary:    highlight;

	--theme-color-background: canvas;
	--theme-color-text:       canvastext;


	/*  >> Sizing */

	--sidebar-padding: 1.25vw;

	--border-radius:   0.25em;

	--label-padding:   0.33em;

}


/*  > BASICS  */

body {
	
	display:     flex;
	
	min-height:  100vh;
	
	font-family: sans-serif;
	line-height: 1.33;
	
	box-sizing:  border-box;
	
}

aside,
main { flex: 1; }

p     { margin: 0; }
p + p { margin-block-start: 0.75em; }

[type="range"] {
	
	--range-offset: 0.25ex;
	
	width: calc(100% + var(--range-offset) * 2);
	
	margin-inline-start: calc(var(--range-offset) * -1);
	
}


/*  > SIDEBAR  */

aside {
	
	display:        flex;
	flex-direction: column;
	align-items:    center;
	
	min-width: 10em;
	max-width: 20vw;
	
	padding: var(--sidebar-padding);
	
	background-color: var(--sidebar-background);

	overflow-x: hidden;
	
	box-sizing: border-box;
	
}

aside article           { width: 100%; }
aside article + article { margin-block-start: var(--base-spacing); }

/*  >> Widgets  */

aside .separator {
	
	flex: 1;
	
	height: 1px;
	
	margin: 0 0.5em;
	
	background-color: grey;
	
}

/* * ↓ fixes bug where browser sets odd defaults  */
/* *   affects `fieldset legend` using `text-overflow: ellipsis` */
/* *   see: https://stackoverflow.com/a/29499408 */
aside fieldset { min-width: 0; }

aside fieldset >      * + * { margin-block-start: var(--base-spacing); }
aside fieldset > legend + * { margin-block-start: 0; }

aside fieldset legend {
	
	/* * TEMP: unset from `reset.css` to allow `text-overflow` */
	display:       inline;
	
	max-width:     100%;
	
	overflow:      hidden;
	
	white-space:   nowrap;
	text-overflow: ellipsis;
	
	box-sizing:    border-box;
	
}

aside .widget fieldset label {
	
	display: table;
	
	position:    relative;
	
	padding: 0.33em;
	
	line-height: 1;
	
	z-index: 1;
	
}

aside .widget fieldset label span {
	
	margin-inline-start: 0.25em;
	
	line-height: 1;
	
}


aside .widget fieldset label input:checked + span::after {
	
	content:  "";
	
	position: absolute;
	top:      0;
	left:     0;
	
	width:    100%;
	height:   100%;
	
	/* TODO: replace with unified project-sourced theme color */
	background-color: highlight;
	
	border-radius: 0.25em;
	
	z-index: -1;
	
}

aside ul {
	
	list-style: none;
	
	padding-inline-start: 0;
	
}

/*  >>> Time  */

aside .widget.time {
	
	display:         flex;
	justify-content: center;
	align-items:     center;

	font-size:       2em;
	font-weight:     bold;
	color:          hsl(0, 0%, 20%);
	
}


/*  >> Tabs  */

aside .tab { display: flex; }

aside .tab label {

	position:    relative;

	flex:        1;
	
	text-align:  center;
	line-height: 3;

	z-index:     1;

}

aside .tab label span::after {

	--tab-backgrould-width: calc(100% + var(--sidebar-padding));

	content:  "";
	
	position: absolute;
	top:      0;
	left:     0;
	
	width:    var(--tab-backgrould-width);
	height:   100%;
	
	background-color: white;
	
	z-index: -1;

	opacity:  0;

}


/*  > MAIN  */

main {
	
	max-width: 75ch;
	
	padding:   5%;
	
}


/*  >> Categories  */

main article { /* ... */ }
main article + article { margin-block-start: 3em; }

main article h1 {
	
	font-size:        3.5em;
	
	margin: 0 0 0.25em 0;
	
}

main article h1 + section { margin-block-start: 1em; }


/*  >> Subcategories  */

main section {
	
	/* ... */
	
}

main section + section { margin-block-start: 2em; }

main section h2 {
	
	margin-block-end: 0.5em;
	
	font-size:        2.5em;
	
}


/*  >>> Components  */

main section .component {
	
	width:   100%;
	
	border:  1px solid transparent;
	
	padding: 1em;
	margin: -1em;
	
}
main section .component:first-child { margin-inline-start: 0; }
main section .component:last-child  { margin-inline-end:   0; }

main section .component:hover {
	
	background-color: canvas;
	
	border-color: grey;
	
	box-shadow: 0 0 12px hsl(0, 0%, 50%, 0.25);
	
}

main section .component + .component { margin-block-start: 1em; }

main section .component > * + * { margin-block-start: 0.75em; }

main section .component .component {
	
	margin: 0.75em -1.5em 0 1.5em;
	
}


/*  >>>> Component Details  */

[type="text"] {
	
	box-shadow: inset 0 0.0625em 0.125em var(--input-shadow-color);
	
	transition: box-shadow 0.5s;
	
}

[type="text"]:focus-within,
[type="text"]:not(:placeholder-shown) { box-shadow: none; }

input + label { padding-inline-start: 0.5ex; }

[type="checkbox"] { margin: 0; }

[type="checkbox"],
[type="radio"],
label {
	
	vertical-align: middle;
	
	cursor: pointer;
	
}

[type="text"] { box-sizing: border-box; }

[type="range"] { cursor: e-resize; }

[disabled] { cursor: not-allowed; }

.component label,
.component.input .title { font-weight: bold; }

.component.toggle > .title ~ * { margin-inline-start: 2ex; }

.component.range .title {
	
	display: flex;
	align-items: center;
	
}

.component .complexity {
	
	margin-inline-start: 0.5em;
	
	font-weight: normal;
	
	opacity: 0.75;
	
}

.component.range .state { margin-inline-start: auto; }

.component.radio fieldset {
	
	display: flex;
	justify-content: space-around;
	
}


/*  >>> TEMP: Derived  */

.effort {
	
	margin-block-start: 3em;
	
	font-size: 1.25em;
	text-align: center;
	
}

.hours {
	
	font-size: 2.5em;
	
	margin: 0.33em 0;
	
}


/*  >>> Special Component Styles  */

.random {
	
	height: auto;
	
	background: none;
	
	border: none;
	
	padding: 0;
	
	cursor: pointer;
	
	float: right;
	
}
.random::after { content: "\1f3b2"; } /* * ← gaming die */

.prequisites {
	
	list-style: none;

	padding-inline-start: 0;
	
}

[is-prequisite-fulfilled]::before {
	
	--width: 1ex;
	
	display: inline-block;
	
	width: var(--width);
	
	margin-inline-end: calc(var(--width) * 1.2);
	
}

[is-prequisite-fulfilled="false"]::before { content: "\26a0"; } /* * warning sign */
[is-prequisite-fulfilled="true"]::before  { content: "\2714"; } /* * tick */