/*  > FONTS  */

/*  insert fonts, or use "see <file with fonts>.css" */


/*  > VARIABLES  */

:root {
	
	/*  >> Colors  */
	
	--input-shadow-color: hsla(0, 0%, 4%, 0.1);
	
	--sidebar-background: hsl(0, 0%, 90%);
	
	
	/*  >>> Theme */
	
	--theme-color-primary:    highlight;
	
	--theme-color-background: canvas;
	--theme-color-text:       canvastext;
	
	
	/*  >> Sizing */
	
	--sidebar-padding: 1.25vw;
	
	--border-radius:   0.25em;
	
	--label-padding:   0.33em;
	
}


/*  > BASICS  */

body {
	
	display:     flex;
	
	min-height:  100vh;
	
	background-color: var(--theme-color-background);
	
	font-family: sans-serif;
	line-height: 1.33;
	
	box-sizing:  border-box;
	
}

aside,
main { flex: 1; }

p     { margin: 0; }
p + p { margin-block-start: 0.75em; }

fieldset {
	
	/* * ↓ fixes bug where browser sets odd defaults  */
	/* *   affects `fieldset legend` using `text-overflow: ellipsis` */
	/* *   see: https://stackoverflow.com/a/29499408 */
	min-width: 0;

	background-color: var(--theme-color-background);

}

legend {
	
	position:         relative;
	
	padding:          var(--label-padding);
	
	border-radius:    var(--border-radius);
	
	background-color: var(--theme-color-primary);
	
	line-height:      1;
	color:            white;
	
	z-index:          1;
	
}


fieldset legend {
	
	/* * TEMP: unset from `reset.css` to allow `text-overflow` */
	display:       inline;
	
	max-width:     100%;
	
	overflow:      hidden;
	
	white-space:   nowrap;
	text-overflow: ellipsis;
	
	box-sizing:    border-box;

}

label,
legend { user-select: none; }

label {
	
	display: inline-flex;
	align-items: center;
	
}

[type="range"] {
	
	--range-offset: 0.25ex;
	--range-width:  calc(100% + var(--range-offset) * 2);
	--range-margin: calc(var(--range-offset) * -1);
	
	width:          var(--range-width);
	
	margin-inline-start: var(--range-margin);
	
}


/*  > SIDEBAR  */

aside {
	
	display:        flex;
	flex-direction: column;
	align-items:    center;
	flex:           0 1 20%;
	
	min-width:      10em;
	max-width:      15vw;
	
	padding:        var(--sidebar-padding);
	
	background-color: var(--sidebar-background);
	
	overflow-x:     hidden;
	
	box-sizing:     border-box;
	
}

aside article           { width: 100%; }
aside article + article { margin-block-start: var(--base-spacing); }

aside .separator {
	
	flex: 1;
	
	height: 1px;
	
	margin: 0 0.5em;
	
	background-color: grey;
	
}


/*  >> Label  */

aside label span::after {
	
	content:  "";
	
	position: absolute;
	top:      0;
	left:     0;
	
	width:    100%;
	height:   100%;
	
	background-color: var(--theme-color-primary);
	
	border-radius: var(--border-radius);
	
	z-index: -1;
	
	opacity:  0;
	
}

aside label:hover           span::after { opacity:  0.25; }

aside label input:checked + span::after { opacity:     1; }
aside label input:checked + span        { color: white; }


/*  >> Fieldset  */

aside fieldset >      * + * { margin-block-start: var(--base-spacing); }
aside fieldset > legend + * { margin-block-start: 0; }

aside fieldset label {
	
	display:     flex;
	justify-content: center;
	
	position:    relative;
	
	padding:     var(--label-padding);
	
	line-height: 1;
	
	z-index:     1;

}

aside fieldset legend label {

	display: inline-flex;

	padding: 0;

}

aside fieldset legend label input { position: static; }

aside fieldset label input {
	
	position: absolute;
	left:     var(--label-padding);
	
}


/*  >> List  */

aside ul {
	
	list-style: none;
	
	padding-inline-start: 0;
	
}


/*  >> Widgets  */

/*  ...  */


/*  >> Tabs  */

aside .tab { display: flex; }

aside .tab label {
	
	justify-content: center;
	
	position:    relative;
	
	flex:        1;
	
	/* * sets total height of a tab */
	line-height: 4;
	
	z-index:     1;
	
}

/* * reset `color` from using one that contrasts with theme-colored background */
aside .tab label input:checked + span { color: initial; }

aside .tab label span::after {
	
	--tab-backgrould-width: calc(100% + var(--sidebar-padding));
	
	width: var(--tab-backgrould-width);
	
	background-color: white;
	
	border-top-right-radius:    0;
	border-bottom-right-radius: 0;
	
	/* *     ↓ same color as `reset.css` `--base-border` */
	/* TODO: include the color into a unified color scheme / post-reset stylesheet */
	box-shadow: 0 0 0.25em hsl(0, 0%, 80%);
	
}


/*  > MAIN  */

main {
	
	max-width: 75ch;
	
	padding:   5%;
	
}


/*  >> Categories  */

main article { /* ... */ }
main article + article { margin-block-start: 3em; }

main article h1 {
	
	font-size:        3.5em;
	
	margin:           0;
	margin-block-end: 0.25em;
	
}

main article h1 + section { margin-block-start: 1em; }


/*  >> Subcategories  */

main section { /* ... */ }

main section + section { margin-block-start: 2em; }

main section h2 {
	
	margin-block-end: 0.5em;
	
	font-size:        2.5em;
	
}


/*  >>> Components  */

main section .component {
	
	--component-internal-padding: 1em;
	--component-internal-margin: calc(var(--component-internal-padding) * -1);
	
	width:   100%;
	
	border:  1px solid transparent;
	
	padding: var(--component-internal-padding);
	margin:  var(--component-internal-margin);
	
}
main section .component:first-child { margin-inline-start: 0; }
main section .component:last-child  { margin-inline-end:   0; }

main section .component:hover {
	
	background-color: canvas;
	
	border-color: grey;
	
	box-shadow: 0 0 12px hsl(0, 0%, 50%, 0.25);
	
}

main section .component + .component { margin-block-start: 1em; }

main section .component > * + * { margin-block-start: 0.75em; }

main section .component .component {
	
	margin: 0.75em -1.5em 0 1.5em;
	
}


/*  >>>> Component Details  */

[type="text"] {
	
	box-shadow: inset 0 0.0625em 0.125em var(--input-shadow-color);
	
	transition: box-shadow 0.5s;

	box-sizing: border-box;
	
}

[type="text"]:focus-within,
[type="text"]:not(:placeholder-shown) { box-shadow: none; }

label input + span,
      input + label { margin-inline-start: 0.75ex; }

label,
[type="radio"],
[type="checkbox"] { cursor: pointer; }

[type="range"] { cursor: e-resize; }

[disabled] { cursor: not-allowed; }

.component        label,
.component.input .title { font-weight: bold; }

.component.toggle > .title ~ * { margin-inline-start: 2ex; }

.component.range .title {
	
	display: flex;
	align-items: center;
	
}

.component .complexity {
	
	margin-inline-start: 0.5em;
	
	font-weight: normal;
	
	opacity: 0.75;
	
}

.component.range .state { margin-inline-start: auto; }

.component.radio fieldset {
	
	display: flex;
	justify-content: space-around;
	
}


/*  >>> TEMP: Derived  */

.effort {
	
	margin-block-start: 3em;
	
	font-size: 1.25em;
	text-align: center;
	
}

.hours {
	
	font-size: 2.5em;
	
	margin: 0.33em 0;
	
}


/*  >>> Special Component Styles  */

time {

	display: table;
	
	margin: 0 auto;
	
}
time::after {
	
	content: attr(datetime);
	
	font-size:   2em;
	font-weight: bold;
	color:       hsl(0, 0%, 20%);
	
}

.random {
	
	height: auto;
	
	background: none;
	
	border: none;
	
	padding: 0;
	
	cursor: pointer;
	
	float: right;
	
}
.random::after { content: "\1f3b2"; } /* * ← gaming die */

.prequisites {
	
	list-style: none;
	
	padding-inline-start: 0;
	
}

[is-prequisite-fulfilled]::before {
	
	--prequisite-width: 1ex;
	
	display: inline-block;
	
	width: var(--prequisite-width);
	
	margin-inline-end: calc(var(--prequisite-width) * 1.2);
	
}

[is-prequisite-fulfilled="false"]::before { content: "\26a0"; } /* * warning sign */
[is-prequisite-fulfilled="true"]::before  { content: "\2714"; } /* * tick */